a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

body, html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
  color: #333;
  font-size: 16px;
  background-color: #fff;
  .weui_cell {
    font-size: 16px;
  }
  .weui_cells {
    font-size: 16px;
  }
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
  line-height: 2;
  margin: 0;
  padding: 0;
}

@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
  .border-1px {
    &:after {
      -webkit-transform: scaleY(.7);
      transform: scaleY(.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio : 2), (min-device-pixel-ratio : 2) {
  .border-1px {
    &:after {
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio : 3), (min-device-pixel-ratio : 3) {
  .border-1px {
    &:after {
      -webkit-transform: scaleY(.3);
      transform: scaleY(.3);
    }
  }
}
